{% extends 'base.html' %}

{% block content %}

<h3 class = "pb-2 border-bottom text-warning" style="letter-spacing: 2px;">Search Term: {{keyword}}</h3> 
  <div class="row mb-2">
    {% if blogs %}
        {% for post in blogs %}
        <div class="col-md-6">
        <div class="card border-0" >
            <div class="card-body">
            <h3>{{ post.Title }}</h3>
            <small class="mb-1 text-muted">{{ post.Created_at| timesince}} ago | {{ post.Author }}</small>
            <p class="card-text">{{ post.Description | truncatewords:25 }}</p>
            </div>
        </div>
        </div>
    {% endfor %}
    {% else %}
        <p>No blogs available for the search term "{{ keyword }}".</p>
    {% endif %}
  </div>

{% endblock content %}