{% extends 'base.html' %}

{% block content %}
<div class="row mt-4">
    {% include 'dashboard/sidebar.html' %}
    
	<div class="col-md-9">
		<h2> All Posts </h2>
        <a href="{% url 'add_post' %}" class="btn btn-dark text-light mb-2 float-right">Add New</a>
	    <table class="table table-hover">
            <thead>
                <tr>
                    <th >#</th>
                    <th >Post Title</th>
                    <th >Category</th>
                    <th >Author</th>
                    <th >Status</th>
                    <th >Featured</th>
                    <th >Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td >{{ forloop.counter }}</td>
                        <td >{{ post | truncatewords:4 }}</td>
                        <td >{{ post.Category }}</td>
                        <td >{{ post.Author }}</td>
                        <td >{{ post.Status }}</td>
                        <td >{% if post.Is_featured %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                        <td >
                            <a href="{% url 'edit_post' post.id %}" ><i class="fa fa-edit btn-primary"></i></a> &nbsp;
                            <a href="{% url 'delete_post' post.id %}" ><i class="fa fa-trash btn-sm btn-danger"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
	
	</div>
</div>
{% endblock %}